<!DOCTYPE html>
<html>
    <head>
                			<title>Register</title>
                               <meta charset="utf-8">
                                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                                <link rel="shortcut icon" href="https://w7.pngwing.com/pngs/834/28/png-transparent-emoji-car-emoticon-text-messaging-campervans-vehicle.png" type="image/x-icon">
                                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                                <link rel="stylesheet" href="style.css">
                                
                		</head>
                		<body>
                <div id="fullscreen_intro">
                                   <div class="landing-text">
                			 <form action="register.php" method="POST">
                				<p><h1>Username:</h1></p> 
                                <input type="text" name="user" />
                                <br><br><p><h1>Password:</h1></p> 
                				<input type="password" name="passwrd" />
                				<input type="submit" value="Submit" />
                			</form>
                <br><br><a href="index.html">
                        <button type="button" class="btn btn-light car-btn">Voltar</button></a>
                		</div></div></body>
                </html>